
{% extends 'base.html' %}
{% block content %}
{{block.super}}

<div >
    <div class="row" style="background-image:url('https://images.pexels.com/photos/713149/pexels-photo-713149.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=740');background-position: static;margin-top:-70px;">
        <div class="welcome" style="height: 600px;margin:0 auto;"></div>
        <div class="text-center">
            <h1 style="color:aliceblue;top:50%;left:50%;position: absolute;transform: translate(-50%,-50%); font-family: 'Cinzel Decorative', cursive;font-weight: 600;font-size: 50px;">AWWARDS</h1>
        </div>
    </div>
    <div>
        <h1>Hello world</h1>
    </div>
</div>
{% endblock %}